<MudAppBar Elevation="1" Dense="true" Fixed="false">
    <MudGrid Justify="Justify.Center" Class="pt-1">
        <div class="mx-6 pt-1">
            <MudText Style="font-size:small">&copy; 2024</MudText>
        </div>
        <div class="mx-6">
            <a class="icon-link" href="mailto:info@hebverb.info">
                <MudIcon Icon="@Icons.Material.Filled.Mail" Color="Color.Info"></MudIcon>
            </a>
        </div>
        <div class="mx-6">
            <a class="icon-link" href="https://github.com/tykooon">
                <MudIcon Icon="@Icons.Custom.Brands.GitHub" Color="Color.Dark" Title="GitHub" />
            </a>
        </div>
        <div class="mx-6">
            <a class="icon-link">
                <MudIcon Icon="@Icons.Custom.Brands.Google" Color="Color.Default" Title="Google" />
            </a>
        </div>
    </MudGrid>
</MudAppBar>

@code {

}
