@using HebrewVerb.Application.Models
@using HebrewVerb.Application.Services
@rendermode InteractiveServer

<div>
    <MudSelect T="Zman" MultiSelection="true" AnchorOrigin="Origin.BottomCenter" ToStringFunc="TextFormat"
               SelectedValuesChanged="OptionsChanged" SelectedValues="Options" Label="Время:" Disabled="Disabled">

        @foreach (var zman in Common.FilterOptions.ZmanOptions)
        {
            <MudSelectItem T="Zman" Value="@zman">@zman.ToString(Language.Russian) (@zman.NameHebrew)</MudSelectItem>
        }
    </MudSelect>
</div>

@code {
    [Parameter]
    public IEnumerable<Zman> Options { get; set; } = new HashSet<Zman>();

    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public EventCallback<IEnumerable<Zman>> OptionsChanged { get; set; }

    private string TextFormat(Zman z) => z.ToString(Language.Russian);
}
