@using HebrewVerb.Application.Feature.VerbModels.Commands
@inject ISnackbar snackbar
@inject IMediator mediator

@rendermode InteractiveAuto

<MudPopover Open="IsOpen" Fixed="true" Style="width:400px" Class="pa-4"
    AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
        <div class="d-flex flex-column">
            <MudGrid Justify="Justify.FlexEnd">
                <MudIconButton Icon="@Icons.Material.Filled.Close" Variant="Variant.Text" Color="Color.Dark" Size="Size.Medium" OnClick="Close" />
            </MudGrid>
        <MudText>Add new Verb Model data</MudText>
        <MudInput @bind-Value="@_addVerbModelName" Placeholder="input name of Verb Model here" Label="Verb Model Name"></MudInput>
        <MudInput @bind-Value="@_addVerbModelDescription" Placeholder="input short description of VerbModel here" Label="Verb Model Description"></MudInput>
        <MudButton OnClick="@AddNewVerbModel" Variant="Variant.Filled" Class="ml-auto mr-2 my-2" Color="Color.Primary">Load</MudButton>
        </div>
</MudPopover>

@code {
    [Parameter]
    public bool IsOpen { get; set; }

    [Parameter]
    public EventCallback<bool> IsOpenChanged { get; set; }

    [Parameter]
    public EventCallback NewVerbModelCreated { get; set; }

    private async Task Close()
    {
        IsOpen = false;
        await IsOpenChanged.InvokeAsync(IsOpen);
    }

    private string _addVerbModelName = "";
    private string _addVerbModelDescription = "";

    public async Task AddNewVerbModel()
    {
        var command = new AddNewVerbModelCommand(_addVerbModelName, _addVerbModelDescription);
        var addRes = await mediator.Send(command);

        if (!addRes.IsSuccess)
        {
            snackbar.Add("Error with adding gizra to database", Severity.Error);
            return;
        }
        snackbar.Add("Successfully added", Severity.Success);
        await NewVerbModelCreated.InvokeAsync();
    }
}
