<span class="mobile-hide">@Intro &nbsp;</span> @ChildContent <span class="mobile-hide">&nbsp;@Outtro</span>

@code
{
    [Parameter]
    public string Intro { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Outtro { get; set; } = "";
}
